// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

@logo-width: 256px;
@logo-height: 64px;
@banner-width: 450px;
@banner-height: 110px;
@error-width: 256px;
@error-height: 256px;

@background-color: #ffffff;
@background-color-secondary: #f2f2f2;
@logo-background-color: #ffffff;
@navigation-background-color: #ffffff;
@navigation-text-color:  rgba(0, 0, 0, 0.65);
@primary-color: #1890ff;
@link-color: @primary-color;
@link-hover-color: #40a9ff;
@processing-color: @primary-color;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@font-size-base: 14px;
@heading-color: rgba(0, 0, 0, 0.85);
@text-color: rgba(0, 0, 0, 0.65);
@text-color-secondary: rgba(0, 0, 0, 0.45);
@disabled-color: rgba(0, 0, 0, 0.25);
@border-color-base: #d9d9d9;
@border-radius-base: 4px;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
@loading-color: @primary-color;

.ant-layout-sider-children .logo-image {
  width: @logo-width;
  height: @logo-height;
}

.user-layout {
  &-logo {
    width: @banner-width;
    height: @banner-height;
  }
}

.exception {
  .img {
    img {
      width: @error-width;
      height: @error-height;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: @text-color;
}

a {
  color: @link-color;
  background-color: transparent;

  &:hover {
    color: @link-hover-color;
  }
}

.ant-message-info .anticon,
.ant-message-loading .anticon {
  color: @loading-color;
}

#nprogress {
  .bar {
    background-color: @loading-color;
  }
}

.user-layout {
  background-color: @background-color;
}

.ant-input {
  background-color: @background-color;

  &-password-icon {
    &:hover {
      color: @text-color-secondary;
    }
  }

  &-group-addon, &-number, &-number-handler-wrap, &-number-handler:active {
    background-color: @background-color;
  }

  &[disabled] {
    background-color: @background-color;
  }
}

.ant-select {
  background-color: @background-color;

  &-dropdown {
    background-color: @background-color;

    &-menu-item {
      color: @text-color;

      &-active, &-selected {
        color: @primary-color;
      }

      &:hover:not(.ant-select-dropdown-menu-item-disabled) {
        color: @primary-color;
      }
    }
  }

  &-selection {
    background-color: transparent;
  }
}

.ant-tag {
  background-color: @background-color;
}

.ant-time-picker-input {
  background-color: @background-color;
}

.ant-time-picker-panel-inner,
li.ant-time-picker-panel-select-option-selected{
  background-color: @background-color;
}

.ant-time-picker-panel-select li:hover,
li.ant-time-picker-panel-select-option-selected{
  color: @primary-color;
}

.has-error {
  .ant-input {
    background-color: @background-color;

    &:hover {
      background-color: @background-color;
    }
  }

  .ant-input-affix-wrapper {
    .ant-input {
      background-color: @background-color;

      &:hover {
        background-color: @background-color;
      }
    }
  }
}

.ant-switch {
  background-color: @background-color-secondary;

  &-checked {
    background-color: @primary-color;
  }
}

.ant-checkbox {
  &-inner {
    background-color: @background-color;
  }
}

.ant-radio {
  &-button-wrapper {
    background-color: @background-color;
  }
}

.ant-dropdown-menu {
  background-color: @background-color;

  &-item {
    &:hover {
      color: @primary-color;
    }
  }
}

.ant-btn {
  &:not(.ant-btn-primary):not(.ant-btn-danger) {
    background-color: @background-color;
  }
}

.ant-btn-disabled,
.ant-btn.disabled,
.ant-btn[disabled],
.ant-btn-disabled:hover,
.ant-btn.disabled:hover,
.ant-btn[disabled]:hover,
.ant-btn-disabled:focus,
.ant-btn.disabled:focus,
.ant-btn[disabled]:focus,
.ant-btn-disabled:active,
.ant-btn.disabled:active,
.ant-btn[disabled]:active,
.ant-btn-disabled.active,
.ant-btn.disabled.active,
.ant-btn[disabled].active {
  background-color: @background-color;
  color: @text-color;
}

.ant-btn-primary-disabled,
.ant-btn-primary.disabled,
.ant-btn-primary[disabled],
.ant-btn-primary-disabled:hover,
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled]:hover,
.ant-btn-primary-disabled:focus,
.ant-btn-primary.disabled:focus,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary-disabled:active,
.ant-btn-primary.disabled:active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary-disabled.active,
.ant-btn-primary.disabled.active,
.ant-btn-primary[disabled].active {
  background-color: @background-color;
  color: @text-color;
}

.ant-message {
  &-notice {
    &-content {
      background-color: @background-color;
    }
  }
}

.ant-layout {
  background-color: @background-color-secondary;

  &-header {
    background-color: @background-color;

    .anticon {
      color: @text-color;
    }
  }

  &-footer {
    background-color: @background-color-secondary;
  }
}

.layout.ant-layout {
  .header {
    background-color: @background-color;

    .user-menu {
      .action {
        color: @text-color;
      }
    }
  }
}

.layout.ant-layout .header .user-menu .action:hover,
.layout.ant-layout .top-nav-header-index .user-menu .action:hover {
  background-color: @background-color-secondary;
}

.ant-popover-inner-content {
  background-color: @background-color;
}

.ant-card {
  background-color: @background-color;

  &-actions {
    background: transparent;
  }

  &-head {
    color: @text-color;
  }
}

.ant-table {
  &-thead > tr > th,
  &-tbody > tr > td {
    background-color: @background-color;
    color: @text-color;
  }

  &-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
    background-color: @background-color-secondary;
  }
}

 .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
 .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
 .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
 .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
   color: @primary-color;

   .ant-badge-status-text {
     color: @primary-color;
   }
 }

 .ant-table-tbody > tr.ant-table-row-selected td {
   color: @primary-color;

   .ant-badge-status-text {
     color: @primary-color;
   }
 }

.ant-table-thead > tr > th.ant-table-column-sort,
.ant-table-tbody > tr > td.ant-table-column-sort {
  color: @primary-color;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: @text-color;
}

.ant-steps-small .ant-steps-item-icon {
  background: transparent;
  // border-color: color(~`colorPalette("@{background-color}", 1)`);

  .ant-steps-icon {
    color: @text-color;
  }
}

.ant-form-item-label > label {
  color: @text-color;
}

.sider.light .logo {
  background-color: @logo-background-color;
}

.ant-menu {
  background: @navigation-background-color;
}

.ant-menu-submenu-popup,
.ant-menu-submenu > .ant-menu {
  background-color: @navigation-background-color;
}

.ant-menu-item > a {
  color: @navigation-text-color;
}

.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
  color: @primary-color;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  color: @navigation-text-color;
}

.ant-menu-submenu-vertical ant-menu-submenu-selected,
.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
  color: @primary-color;

  .ant-menu-submenu-title {
    color: @primary-color;
  }
}

.kubernet-icon path {
  color: @navigation-text-color;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: @primary-color;

  .custom-icon path {
    color: @primary-color;
  }
}

.ant-pagination {
  &-item-active {
    background-color: @background-color;
  }

  &-options-quick-jumper {
    input {
      background-color: @background-color;
    }
  }
}

.ant-modal {
  &-header {
    background-color: @background-color;
    color: @text-color;
  }

  &-content {
    background-color: @background-color;
  }

  &-title {
    color: @text-color;
  }
}

.ant-upload.ant-upload-drag {
  background-color: @background-color;

  p.ant-upload-text {
    color: @text-color;
  }
}
